
<form #saveUniversityForm="ngForm">
    <div class="form-group">
        <label for="universityName">Name</label>
        <input ngModel name="name" type="text" class="form-control" id="universityName" aria-describedby="emailHelp"
            placeholder="Enter name of university">
        <small id="universityNameHelp" class="text-danger"></small>
    </div>
    <div class="btn-group" style="width:100%">
        <input type="submit" id="save" class="btn btn-success" value="Search"
            (click)="searchUniversity(saveUniversityForm.value)" />
        <input type="submit" id="update" class="btn btn-danger ml-2" value="Delete"
            (click)="deleteUniversity(saveUniversityForm.value)" />
    </div>

</form>

<div class="table">
    <thead>
        <tr>
            <td class="col-4">Name</td>
            <td class="col">Address</td>
            <td class="col">Phone</td>
        </tr>
    </thead>
    <div *ngFor="let u of university">
        <tr>

            <td class="col-4">{{u.name}}</td>
            <td class="col">{{u.address}}</td>
            <td class="col">{{u.phone}}</td>

        </tr>
    </div>

</div>